@{
    ViewBag.Title = "Demo App Home";
   // Layout = null;
}
   
<script>
    $(document).ready(function () {

      
        var valObj = {
            key: 'input',
            titleVal: 'default',
            dd_1: '0',
            dd_2: '0'
        };

        var store = new Lawnchair({ name: 'testing' }, function (store) {

            // Access it later... Yes even after a page refresh!
            store.get('input', function (valObj) {
                try {

                    alert("retrieved: " + valObj.titleVal + " ; " + valObj.dd_1 + " ; " + valObj.dd_2);
                    $("#inputText").val(valObj.titleVal);


                    $("#templateList").val(valObj.dd_1);
                    $("#optionList").val(valObj.dd_2);
               }
                catch (ex) {
                   // alert("error occured on valobj");
                }
            });
        });

        $("#saveText").click(function () {
           
            valObj.titleVal = $("#inputText").val();
            valObj.dd_1 = $("#templateList").val();
            valObj.dd_2 = $("#optionList").val();

            if (valObj.titleVal !== 'undefined') {
                alert("saved: title: " + valObj.titleVal + "; dd_1: " + valObj.dd_1 + "; dd_2: " + valObj.dd_2);
            }
            store.save(valObj);
        });

        $(document).on("vclick", "#Reset", function () {
            location.reload();
        });

        $(document).on("vclick", "#Submit", function () {
            //alert("Creating new PDF");
           
             var values = $("#templateList").val() + ";" + $("#optionList").val() + ";" + $("#inputText").val();
             var valCheck = values.split(';');
             if ((valCheck[0] == null || valCheck[0] == "") || (valCheck[1] == null || valCheck[1] == "") || (valCheck[2] == 'undefined' || valCheck[2] == "")) {
                 alert("Please select a dropdown value and enter a name for the file.");
             }else{
            //submit to pdf creator
                $.ajax({
                    url: '@Url.Action("ajaxCreateNewPDF", "Home")',
                    type: "post",
                    dataType: "json",
                    async: false,
                    data: { items: values },
                    success: function (result) {
                        alert("Created new PDF");
                        var retVals = result.split(';');
                        $(".ui-grid-c").append('<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">' + retVals[0] + '</div></div>' +
                                                '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">' + retVals[1] +'</div></div>' +
                                                 '<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px">' + retVals[2] +'</div></div>' +
                                                 '<div class="ui-block-d"><div class="ui-bar ui-bar-a" style="height:60px"><button class="dbutton ui-btn ui-btn-inline" id="' + retVals[0] + '">Download</button></div></div>');
                    },
                    error: function () { }
                });
            }
        });

        $('body').on('click', '.dbutton', function () {
      
            var filename = $(this).attr('id');
           // alert("button clicked, filename:" + filename);
            var $url = "Home/Download?fileName=" + escape(filename);
            location.href = $url;

            //need to clear bindings to the button or will fire multiple times
            $('body').unbind('click', '.downloadButton');
        });


    });



</script>
 

@*<script src="~/Scripts/testag.js"></script>*@


      
    <h2>@ViewBag.Message</h2>


@*<div ng-app="testApp" class="row">
    <div ng-controller="testController">{{message}} </div>
    </div>*@

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
     <li >@Html.ActionLink("CRUD Demo (Home)", "CRUDdemo", "Home")</li>
    <li >@Html.ActionLink("About", "About", "Home")</li>
     <li>@Html.ActionLink("Widgets", "Widgets", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>

<div>
  <h3>Select a PDF Template: </h3>
@Html.DropDownList("Templates", ViewData["TemplateItems"] as List<SelectListItem>,"-Select Template Type-", new { id = "templateList"})
 </div>
<div>
  <h3>Select Some Type here: </h3>
@Html.DropDownList("Options", ViewData["OptionItems"] as List<SelectListItem>,"-Select Option-", new { id = "optionList"})
 </div>

<div>
    <h3>Enter Name For PDF: </h3>
   <input type="text" data-inline="true" id="inputText">
   <input type="button" data-theme="a" data-inline="true" value="Save Data" id="saveText">
    
</div>
<br />
<fieldset class="ui-grid-a">
    <div class="ui-block-a"><input type="submit" value="Create PDF" data-theme="a" id="Submit"></div>
    <div class="ui-block-b"><input type="reset" value="Reset" data-theme="b" id="Reset"></div>
</fieldset>

<h2>Generated PDFs</h2>
<div class="ui-grid-c">
    <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px; background-color:cornflowerblue">Document Name</div></div>
    <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px; background-color:cornflowerblue">Template Type</div></div>
    <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px; background-color:cornflowerblue">Option Type</div></div>
    <div class="ui-block-d"><div class="ui-bar ui-bar-a" style="height:60px; background-color:cornflowerblue">Link</div></div>
</div>



