<!DOCTYPE html>
@*<html lang="en" manifest="~/Home/Manifest">*@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @*   
                    <script type="text/javascript" src="@Url.Content("~Content/Scripts/jquery.1.11.2.min.js")"></script>
            <script type="text/javascript" src="@Url.Content("~Content/Scripts/jquery.mobile-1.4.5.min.js")"></script>*@


    @Styles.Render("~/Content/mobileCss", "~/Content/css")
    @Styles.Render("~/Content/onlineStatus.css")
    @Styles.Render("~/Content/jqtouch.css")
    @Styles.Render("~/Content/offline.css")
    @Styles.Render("~/Content/offline-language-english.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymobile")
    @Scripts.Render("~/Scripts/jqt.min.js")
    @Scripts.Render("~/Scripts/zepto.min.js")
    @Scripts.Render("~/Scripts/lawnchair.js")
    @Scripts.Render("~/Scripts/offline.js")

    @Scripts.Render("~/Scripts/knockout-3.3.0.js");
    


    @*@Scripts.Render("~/Scripts/underscore.js");
    @Scripts.Render("~/Scripts/backbone.js");*@

  
   @* @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/localforage.js")
    @Scripts.Render("~/Scripts/angular-localForage.js")*@

    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
  
        });

        //check support for indexeddb
        if (!window.indexedDB) {
            window.alert("Your browser doesn't support a stable version of IndexedDB.");
        }

        //offline.js check status and reconnect
        var run = function () {
            if (Offline.state === 'up')
                Offline.check();
        }
        setInterval(run, 5000);

        //angular init, module config
        //angular.module('yourModule', ['LocalForageModule']);
 

    </script>



    @RenderSection("scripts", required: false)
</head>
<body>


    <div data-role="page" data-theme="b">
        <div data-role="header">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
                <h1>@ViewBag.Title</h1>
                @Html.Partial("_LoginPartial")
            }
        </div>
        <div data-role="content">
            @RenderBody()
        </div>
    </div>


</body>
</html>
